<!doctype html>
<html>
<head>
    <title>All books</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <% include ../components/navbar.ejs %>
  <div class="container panel panel-default">




    <div class="panel-body">
        <% if (typeof books !== 'undefined' && books.length > 0) {%>
          <div class="row">
            <% for(var i = 0; i < books.length; i++) {%>

              <div class="col-md-3">
                <div class="panel panel-primary">
                  <div class="panel-body text-center">
                    <img src="<%= books[i].imgUrl %>" alt="<%= books[i].title %>">
                  </div>
                  <div class="panel-footer text-center">
                    <p>
                      <%= books[i].title %>
                    </p>
                    <% if (typeof user !== 'undefined' && !books[i].owner.equals(user._id)) {%>
                      <p>
                        <a href=<%= "/books/request/" + books[i].id %>>
                          <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                        </a>
                      </p>
                    <%}%>

                  </div>
                </div>
              </div>

            <% } %>
          </div>
        <% } else { %>
          <div class="text-center">
            <h2 class="h3">Sorry</h2>
            <p>There is no books to show here :(</p>
          </div>
        <% } %>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
